section {
    width: 450px;
    height: 600px;
    background-color: white;
    display: flex;
    border-radius: 30px;
    border: outset 4px black;
    box-shadow: rgba(0, 0, 0, 3.3) 0px 19px 38px, rgba(0, 0, 0, 1.22) 0px 0px 25px;


    >main {
        padding: 30px;
         width: 100%;

      

        >div {
            text-align: start;


            h1 {
            margin-block-start: 0;
            margin-block-end: 0;
            font-weight: bolder;
            font-size: 30px;
         }

         h6 {
            margin-block-start: 20px;
            margin-block-end: 0;
            font-size: 18px;
            color: gray;
            font-weight: bolder;
            margin-inline-end: 30px;
         }
        }
    }

}


.login-Area-Access {
    width: 100%;
    margin-top: 30px;

    >div {
        display: flex;
        flex-direction: column;
    }
}



.email-Area {
  display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 5px;



    >.email-field {
        width: 100%;
        display: flex;
        align-items: center;
        border: 1px  black;
        border-style: outset;
        border-radius: 10px;
        padding: 10px;


        .custom-icon {
        color: #2d2d2d;
        height: 20px !important;
        width: 30px !important;
        }
    
        
        >input {
        border: none;
        width: 100%;
        padding: 5px;
        background: transparent;
        outline: none;
        font-size: 16px;
        }
    
    }
}


.password-Area {
  display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    margin-top: 30px;

 



    >.password-field {
        width: 100%;
        display: flex;
        align-items: center;
        border: 1px  black;
        border-style: outset;
        border-radius: 10px;
        padding: 10px;


        .custom-icon-password {
        color: #2d2d2d;
        height: 24px !important;
        width: 30px !important;

        }
    
        
        >input {
        border: none;
        width: 100%;
        padding: 5px;
        background: transparent;
        outline: none;
        font-size: 16px;
        }
        .password-icon {
    cursor: pointer;
    height: 24px !important;
    width: 30px !important;
}
    
    }
}

