section {
    width: 450px;
    height: 600px;
    background-color: white;
    display: flex;
    border-radius: 30px;
    border: outset 4px black;
    box-shadow: rgba(0, 0, 0, 3.3) 0px 19px 38px, rgba(0, 0, 0, 1.22) 0px 0px 25px;


    >main {
        padding: 30px;
         width: 100%;

      

        >div {
            text-align: center;


            h1 {
            margin-block-start: 0;
            margin-block-end: 0;
            font-weight: bolder;
            font-size: 30px;
         }

         h6 {
            margin-block-start: 20px;
            margin-block-end: 0;
            font-size: 18px;
            color: gray;
            font-weight: bolder;
            margin-inline-end: 30px;
         }
        }
    }

}



