
.login-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url("/resized_1920x1080.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}