
@import 'aos/dist/aos.css';


.login-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url("/assets/img/resized_1920x1080 (1) (2).png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    animation: fadeInImage 600ms ease-out 3s normal forwards;

    &:hover {
      background-image: url("/assets/img/image_bg_2(width).png");
    }

    @media (max-width: 760px) {
        background-image: url("/assets/img/background_login (8).png");

        &:hover {
      background-image: url("/assets/img/image_bg_1(height).png");
    }


}

}

.bg-page {
    background:radial-gradient(#7B5E8E, #ffff, #cc91e5); ;
}




@keyframes fadeInImage {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.switch {
  position: relative;
  display: inline-block;
    width: 115px;
    height: 50px;
  margin-left: 500px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  background-color: #7B5E8E;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
      height: 40px;
    width: 40px;
    left: 4px;
    bottom: 6px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.icon {
   position: absolute;
 top: 10px;
    font-size: 32px;
    width: 32px;
    height: 32px;
       transition: .4s; }


       .family { left: 6px; color: #8C1AF6; opacity: 1; }


       .child { right: 6px; color: #8C1AF6;
         opacity: 0; }

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(67px);
  -ms-transform: translateX(67px);
  transform: translateX(67px);
}


input:checked + .slider .family { opacity: 0; }
input:checked + .slider .child { opacity: 1; }
