section {
  position: absolute;
  inset: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
background-image: url("/assets/img/background_login2 (3).png");
    object-fit: cover;


        @media (max-width: 760px) {
        background-image: url("/assets/img/background_login2_resizded_height.png") 

}
}

.bg-page {
    background:radial-gradient(#7B5E8E, #ffff, #cc91e5);
    height: 100%;
}

app-header {
  z-index: 999;
  position: relative;
}