* {
  box-sizing: border-box;
}




section {
  position: absolute;
  inset: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/img/background_login2 (3).png");
  object-fit: cover;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  


        @media (max-width: 760px) {
        background-image: url("/assets/img/background_login2_resizded_height.png") 

}
}

.bg-page {
    background:radial-gradient(#7B5E8E, #ffff, #cc91e5);
    height: 100%;
}

app-header {
  z-index: 999;
  position: relative;
}






form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.register-card {
    width: 470px;
    height: 730px;
    background-color: white;
    display: flex;
    border-radius: 30px;
    border: solid 4px black;
    box-shadow: rgba(0, 0, 0, 3.3) 0px 19px 38px, rgba(0, 0, 0, 1.22) 0px 0px 25px; 
    z-index: 999;
    position: relative;
    justify-content: start;
    padding: 25px 20px;
    flex-direction: column;
    
}


.register-card-headline {


  h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 25px;
  }

  h6 {
    margin-block-start: 10px;
    margin-block-end: 0;
    font-size: 14px;
    color: #5f5d5d;
    font-weight: bolder;
      }

}


.register-form {
  margin-top: 5px;
}



.family-name-Area {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    margin-top: 20px;


       label {
        font-weight: bolder;
        font-size: 14px;
        margin-left: 5px;
    }




.family-name-field {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px #a0a0a0;
    border-style: outset;
    border-radius: 10px;
    padding: 10px;
    background-color: #f8f8f8;


           .custom-icon {
        color: #2d2d2d;
        height: 20px !important;
        width: 30px !important;
        }
    
    

    input {
    border: none;
    width: 100%;
    padding: 5px;
    background: transparent;
    outline: none;
    font-size: 16px;
    }
}

}


.email-Area {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 5px;


       label {
        font-weight: bolder;
        font-size: 14px;
        margin-left: 5px;
    }




.email-field {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px #a0a0a0;
    border-style: outset;
    border-radius: 10px;
    padding: 10px;
    background-color: #f8f8f8;


          .custom-icon {
        color: #2d2d2d;
        height: 20px !important;
        width: 30px !important;
        }

    input {
    border: none;
    width: 100%;
    padding: 5px;
    background: transparent;
    outline: none;
    font-size: 16px;
    }
}

}




.password-Area {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 5px;


       label {
        font-weight: bolder;
        font-size: 14px;
        margin-left: 5px;
    }




.password-field {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px #a0a0a0;
    border-style: outset;
    border-radius: 10px;
    padding: 10px;
    background-color: #f8f8f8;


      .custom-icon-password {
        color: #2d2d2d;
        height: 24px !important;
        width: 30px !important;

        }

    input {
    border: none;
    width: 100%;
    padding: 5px;
    background: transparent;
    outline: none;
    font-size: 16px;
    }
}

}



.password-confirm-Area {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 5px;


       label {
        font-weight: bolder;
        font-size: 14px;
        margin-left: 5px;
    }




.password-confirm-field {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px #a0a0a0;
    border-style: outset;
    border-radius: 10px;
    padding: 10px;
    background-color: #f8f8f8;


      .custom-icon-password {
        color: #2d2d2d;
        height: 24px !important;
        width: 30px !important;

        }

    input {
    border: none;
    width: 100%;
    padding: 5px;
    background: transparent;
    outline: none;
    font-size: 16px;
    }
}

}

      .password-icon {
    cursor: pointer;
    height: 24px !important;
    width: 30px !important;
}


.child-section {


    >div {

        h5 {
        margin-block-start: 5px;
        margin-block-end: 5px;
        font-size: 20px;
        }


        h6 {
        margin-block-start: 10px;
        margin-block-end: 0;
        font-size: 14px;
        color: #5f5d5d;
        font-weight: bolder;
        }
    }
}


.child-selection {
    display: flex;
    flex-direction: column;
    border: outset 4px black;
    max-height: 129px;

.child_container  {
display: flex;
align-items: flex-start;
position: relative;
padding: 15px 10px; 

    .avatar-icon {
    width: 75px;
    height: auto;    
    }

.child-content {
flex: 1;   
position: relative;
padding-right: 40px;

.child-Area {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    flex: 1;

    .child-field {
    border: solid 1px #8a8585;
    padding: 7px;
    border-radius: 6px;
    display: flex;
    background-color: #f8f8f8;
    align-items: center;    

 



    input {
    border: none;
    width: 100%;
    background: transparent;
    outline: none;
    font-size: 16px;
    }



   
  
}

}
 

}
 }
    .delete-icon-section {
    position: absolute;
    right: 5px;
    top: 7px;
    
}

}


.child-Age-content {
display: flex;
margin-top: 10px;
gap: 5px;    
}