section {
display:flex;


    @media (max-width: 600px) {
        background-image: url("/assets/img/background_login2_resizded_height.png");
        background-position: right;
        background-size: cover;
        justify-content: center;
    }

padding: 25px 150px;
    .headline {
    display: flex;
    align-items: center;
    gap: 10px;

        .logo-img {
        width: 60px;
        height: 60px;
        }
    }
}


 h1 {
    margin: 0;
    font-size:20px;
    margin-block-start: 0px;
    margin-block-end: 5px;
}


.logo-img-headline-first {
    color: #8000ff;
    font-weight: bolder;
    white-space: nowrap;
}

.logo-img-headline-second {
    color: black;
    font-weight: bolder;
}