section {
display:flex;
padding: 25px 150px;
    .headline {
    display: flex;
    align-items: center;
    gap: 10px;

        .logo-img {
        width: 60px;
        height: 60px;
        }
    }
}


 h1 {
    margin: 0;
    font-size:20px;
    margin-block-start: 0px;
    margin-block-end: 5px;
}


.logo-img-headline-first {
    color: #8000ff;
    font-weight: bolder;
    white-space: nowrap;
}

.logo-img-headline-second {
    color: black;
    font-weight: bolder;
}