section {
    display: flex;
    justify-content: center;
    width: 470px;
    height: 800px;
    background-color: #ECEEFE;
    display: flex;
    border-radius: 30px;
    border: solid 4px black;
    box-shadow: rgba(0, 0, 0, 3.3) 0px 19px 38px, rgba(0, 0, 0, 1.22) 0px 0px 25px; 



    main {
        width: 100%;
        padding: 20px 20px;
        box-sizing: border-box;
        .headline {
            display: flex;
            align-items: center;
        }

        header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;


        h1 {
        margin-block-start: 0;
        margin-block-end: 0;
        }

        h6 {
        margin-block-start: 0;
        margin-block-end: 0;    
        margin-top: 10px;
        font-size: 16px;
        color: gray;
        font-weight: bolder;
        }
    }
}

}


.childImageSection {
   display: flex;
   justify-content: center;
   margin-top: 15px;
   position: relative;


   >div {
    border-radius: 100%;
    background-color: gray;
    height: 190px;
    position: relative;
    width: 180px;

    .child-img {
    border-radius: 42%;
    width: 160px;
    position: absolute;
    left: 10px;
    bottom: 0px;  
    height: 185px;
    }


    .camera-img {
    width: 50px;
    position: absolute;
    bottom: 0;
    border-radius: 100%;
    left: 125px; 
    }
   }
}

.child-query {
margin-top: 10px;

.child-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;


label {
    font-weight: bolder;
    font-size: 20px;
    margin-left: 5px;
 
}

}

.child-name-area {
     width: 100%;
    display: flex;
    align-items: center;
    border: 3px #000000;
    border-style: outset;
    border-radius: 10px;
    background-color: #f8f8f8;   


    .child-name-field {   
    border: none;
    font-size: 20px;
    outline: none;
    background: transparent;
    height: 100%;
    padding: 10px;

    }


}


}


.Child-age-and-birth {
    display: flex;
    margin-top: 20px;
    gap: 20px;

}




.child-age {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
     max-width: 120px;
  


label {
    font-weight: bolder;
    font-size: 20px;
    margin-left: 5px;
 
}

}

.child-age-area {
     width: 100%;
    display: flex;
    align-items: center;
    border: 3px #000000;
    border-style: outset;
    border-radius: 10px;
    background-color: #f8f8f8;   


    .child-age-field {   
    border: none;
    font-size: 20px;
    outline: none;
    background: transparent;
    height: 100%;
    padding: 10px;

    }


}





.child-birth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex: 1;


label {
    font-weight: bolder;
    font-size: 20px;
    margin-left: 5px;
 
}

}

.child-birth-area {
     width: 100%;
    display: flex;
    align-items: center;
    border: 3px #000000;
    border-style: outset;
    border-radius: 10px;
    background-color: #f8f8f8;   


    .child-birth-field {   
    border: none;
    font-size: 20px;
    outline: none;
    background: transparent;
    height: 100%;
    padding: 10px;
    width: 100%;

    }


}


.genderSection {
    margin-top: 20px;    


    .label-gender {     
    font-weight: bolder;
    font-size: 20px;
    margin-left: 5px;   
    }

}


.child-gender-query {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;


    .gender-boy {
    display: flex;
    align-items: center;
    gap: 5px;;




    label {
    font-size: 16px;
    font-weight: normal;
    color: #000000;  
    }

    }


    .gender-girl {
    display: flex;
    align-items: center;
    gap: 5px;


    

    label {
    font-size: 16px;
    font-weight: normal;
    color: #000000;  
    }

    }
    
}
input[type="radio"] {
accent-color: #8A77FB;
height: 25px;
width: 25px;
}




.child-Image-query {
    width: 100%;
    display: flex;
    align-items: center;
    border: 3px #000000;
    border-style: outset;
    border-radius: 10px;
    background-color:#f8f8f8;     
    margin-top: 20px;


    .child-Image-Selection-Section {
        padding: 10px 10px;


        .child-Image-query-headline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        h3 {
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 17px;   
        font-weight: bolder;
        }

        h6 {
        margin-block-start: 5px;
        margin-block-end: 0;
        font-size: 16px;
        color: gray;
        font-weight: bolder;    
        
        }
    }

    }

}

.image-file {
    display: none;
}


.child-Image-Selection {
    margin-top: 10px;
    display: flex;
    gap: 5px;

    .child-Image-field {
        width: 59px;
        height: 59px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 2px solid transparent;
        transition: 0.2s ease;

        .child-img {
            width: 55px;
            height: 55px;
            border-radius: 50%;
        }

        &:hover {
            border-color: #8A77FB;
        }

        &.selected {
            border-color: #8A77FB;
        }
    }
}