section {
    display: flex;
    justify-content: center;
    width: 470px;
    height: 800px;
    background-color: #ECEEFE;
    display: flex;
    border-radius: 30px;
    border: solid 4px black;
    box-shadow: rgba(0, 0, 0, 3.3) 0px 19px 38px, rgba(0, 0, 0, 1.22) 0px 0px 25px; 



    main {
        width: 100%;
        padding: 20px 20px;
        box-sizing: border-box;
        .headline {
            display: flex;
            align-items: center;
        }

        header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;


        h1 {
        margin-block-start: 0;
        margin-block-end: 0;
        }

        h6 {
        margin-block-start: 0;
        margin-block-end: 0;    
        margin-top: 10px;
        font-size: 16px;
        color: gray;
        font-weight: bolder;
        }
    }
}

}


.childImageSection {
   display: flex;
   justify-content: center;
   margin-top: 15px;
   position: relative;


   >div {
    border-radius: 100%;
    background-color: gray;
    height: 175px;

    .child-img {
    border-radius: 100%;
    width: 190px;   
    }


    .camera-img {
    width: 50px;
    position: absolute;
    bottom: -5px;
    border-radius: 100%;
    right: 130px;  
    }
   }
}

.child-query {
margin-top: 20px;

.child-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;


label {
    font-weight: bolder;
    font-size: 20px;
    margin-left: 5px;
 
}

}

.child-name-area {
     width: 100%;
    display: flex;
    align-items: center;
    border: 3px #000000;
    border-style: outset;
    border-radius: 10px;
    background-color: #f8f8f8;   


    .child-name-field {   
    border: none;
    font-size: 20px;
    outline: none;
    background: transparent;
    height: 100%;
    padding: 10px;

    }


}


}


.Child-age-and-birth {
    display: flex;
    margin-top: 20px;
    gap: 20px;

}




.child-age {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
     max-width: 120px;
  


label {
    font-weight: bolder;
    font-size: 20px;
    margin-left: 5px;
 
}

}

.child-age-area {
     width: 100%;
    display: flex;
    align-items: center;
    border: 3px #000000;
    border-style: outset;
    border-radius: 10px;
    background-color: #f8f8f8;   


    .child-age-field {   
    border: none;
    font-size: 20px;
    outline: none;
    background: transparent;
    height: 100%;
    padding: 10px;

    }


}





.child-birth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex: 1;


label {
    font-weight: bolder;
    font-size: 20px;
    margin-left: 5px;
 
}

}

.child-birth-area {
     width: 100%;
    display: flex;
    align-items: center;
    border: 3px #000000;
    border-style: outset;
    border-radius: 10px;
    background-color: #f8f8f8;   


    .child-birth-field {   
    border: none;
    font-size: 20px;
    outline: none;
    background: transparent;
    height: 100%;
    padding: 10px;
    width: 100%;

    }


}
